extends layout

block content
  <div style="color:red;">Due to EY compliance, this conversation won't be recorded and monitored.</div>
  <div id="content"></div>
  <div class="controls">Name: 
  <input id="name" class="text">
  <br>
  <input id="field" class="text">
  <input id="send" type="button" value="send">
</div>