doctype
html
    head
    title= "EYNPD Chat"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/chat.js')
  body
    block content
